{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier"],
    "rules": {
        "jsx-a11y/anchor-is-valid": [0],
        "no-console": [0],
        "no-underscore-dangle": ["error", { "allow": ["__NEXT_DATA__"] }],
        "no-tabs": [0],
        "semi": ["error", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/react-in-jsx-scope": [0]
    }
}
